/*
 * Custom or experimental css.
 *
 * Try here first until everything works and choose to
 * copy it to default.css if everything works out fine.
 */
.btn {
    font-size: 0.8em;
    color: silver;
    text-decoration: none;
    margin-right: 2em;
}

.panel div.info {
    margin-top: 0.25em;
    /*margin-left: 30%;*/
    margin-left: 25.404255317%;
    margin-bottom: 0;
    font-size: small;
    padding-left: 0.5em;
    color: gray;
}

.panel label.number {
    float: right;
}

.panel .tab [class*="span"] label.number {
    text-align: right;
}

.cut-off {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    line-height: 1.1;
}

.supplier-name {}

.has {
    font-size: small;
}

.qs,
.itw {
    color: green;
}

.link {
    cursor: pointer;
}

.link.person {
    width: 24px;
    height: 24px;
    background-image: url(/img/glyphicons/glyphicons_088_adress_book.png);
    background-position: center center;
    background-size: auto 16px;
}

.link.info {
    width: 24px;
    height: 24px;
    background-image: url(/img/glyphicons/glyphicons_195_circle_info.png);
    background-position: center center;
    background-size: auto 16px;
}