/**
 * Extras for TK
 */
 
body {
    background-color: rgb(249, 249, 249);
}

.not-yet-implemented {
    position: absolute;
    background: url(/upload/fly.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.not-yet-implemented h1 { display: none; }

.deliverer-info {
    /*padding-left: 1.8em;*/
    font-size: small;
}

a.toggle {
    text-decoration: none;
}

a.toggle.open {
    color: gray;
}

.subdeliverer-container {
    display: none;
}

.indent {
    padding-left: 1.2em;
}

.subdeliverer-container .subdeliverer-earmark {
}

h2.date-slaughter {
    font-weight: normal;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: gray;
}

h2.year-purchase {
    font-size: 2em;
    color: rgb(0, 128, 212);
    margin-bottom: .5em;
    text-align: center;
}

.pday-supplier {
    font-size: 2em;
    color: #666;
}

input[type=submit] {
    padding: 0.5em 1.33em;
    background-color: rgb(0, 128, 212);
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

:focus {
    /*outline: none;*/
}

input[readonly=readonly],
textarea[readonly=readonly] {
    padding-right: 0;
    background: white;
    color: gray;
}

input[disabled=disabled],
textarea[disabled=disabled] {
    color: gray;
}

a.logo {
    display: block;
    width: 98px;
    height: 2em;
    background-image: url(/img/tk-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px 18px;
}

input[type=submit][disabled=disabled].processing {
    background-image: url(/img/loader.gif);
    background-position: center right;
    background-repeat: no-repeat;
    background-color: white;
    color: rgb(0, 128, 212);
    cursor: progress;
    border: 2px solid rgb(0, 128, 212);
}

.damagedaily.found input {
    font-weight: bold;
}

.little {
    font-size: small;
}

label.lottle {
    color: orange;
}

th {
    text-align: left;
}

th.number,
td.number,
td.label {
    text-align: right;
}

/**
 * Style an invoice.
 */
.invoice-wrapper {
    margin: 0 5%;
}

.company-header {
    width: 100%;
    float: left;
    margin-bottom: 2em;
}

.company-header .name-logo {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.8em;
}

.company-header .column {
    float: left;
    width: 25%;
    font-size: 0.5em;
}

.company-header td {
    padding: 2px;
}

/**
 * Addresslabel
 */
 
.addressinfowrapper {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}

.addresslabel {
    width: 75%;
    float: left;
    font-size: 0.8em;
}

.addresslabel .senderline {
    font-size: 0.6em;
    margin-bottom: 0.2em;
}

/**
 * Infolabel
 */
.infolabel {
    width: 25%;
    float: right;
    font-size: 0.8em;
}

.infolabel td {
    padding: 2px;
    text-align: right;
}

/**
 * Invoice table
 */
table.invoice {
    width: 100%;
}

table.invoice thead {
    background-color: gray;
    color: white;
}

table.invoice thead th {
    font-size: 0.6em;
    padding: 4px;
}

@media print {
    body {
        font-family: 'Helvetica', sans-serif;
        font-size: 12pt;
        background-color: white;
    }
    
    /**
     * Style an invoice.
     */
    .invoice-wrapper {
    }

    .company-header {
        height: 3.5cm;
    }

    .company-header .name-logo {
        font-size: 20pt;
    }

    .company-header .column {
        float: left;
        width: 25%;
    }

    .company-header td {
    }

    .company-header td.label,
    .company-header td.value {
        font-size: 6pt;
    }
    
    /**
     * Addresslabel
     */

    .addresslabel {
        width: 8.5cm;
        height: 4.5cm;
    }

    .addresslabel .senderline {
        line-height: 0.5cm;
        font-size: 6pt;
    }

    /**
     * Infolabel
     */
    .infolabel {
        width: 8.5cm;
    }
    
    .summary {
    }
    
    .details {
        page-break-before: always;
    }

    /**
     * Invoice table
     */

    table.invoice {
        width: 100%;
    }

    /* list of stock beans, can get very long */
    table.stock {
        font-size: 7pt;
    }

    table.invoice tr > td,
    table.invoice tr > th {
        padding: 0.1em;
    }
    
    table.stock tbody tr td:before,
    table.stock tbody tr td:after {
        content: "";
        height: 1px;
        display: block;
    }

    table.invoice tr > td.section {
    }

    table.invoice tr.info {
        font-size: 8pt;
    }

    tr.total.dealer,
    tr.gros {
        font-size: 14pt;
    }

    /**
     * Info to a subject.
     *
     * e.g. "Sie verpflichten sich zu..."
     */
    table.invoice span.info {
        display: block;
    }
}