/**
 * Extras for TK
 */
 
body {
    background-color: rgb(249, 249, 249);
}

.not-yet-implemented {
    position: absolute;
    background: url(/upload/fly.gif) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.not-yet-implemented h1 { display: none; }

.chart-line {
    visibility: hidden;
    height: 48px;
}

.panel input.alarm {
    background-color: #d9edf7;
}

.panel input.alarm:focus {
    background-color: #feffbc;
}

.deliverer-info {
    /*padding-left: 1.8em;*/
    font-size: small;
}

a.toggle {
    text-decoration: none;
}

a.toggle.open {
    color: gray;
}

.subdeliverer-container {
    display: none;
}

.indent {
    padding-left: 1.2em;
}

.invoice-kind-1 {
    color: #666;
}

.invoice-cancel-1 {
    color: red;
}

.anchor-substitute {
    cursor: pointer;
}

a.delete {
    width: 26px;
    height: 26px;/*1em font-size + 2 x 0.222em padding in input fields*/
    padding: 0;
    margin: 0;
    background-image: url(/img/glyphicons/glyphicons_191_circle_minus.png);
}

.subdeliverer-container .subdeliverer-earmark {
}

h2.date-slaughter {
    font-weight: normal;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
    color: gray;
}

h2.date-slaughter span.week {
    padding-left: 0.5em;
}

h2.year-purchase,
h2.year-fiscal {
    font-size: 2em;
    color: rgb(0, 128, 212);
    margin-bottom: .5em;
    text-align: center;
}

.pday-supplier {
    font-size: 2em;
    color: #666;
}

input[type=submit] {
    padding: 0.5em 1.33em;
    background-color: rgb(0, 128, 212);
    color: white;
    border: 2px solid white;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
}

:focus {
    /*outline: none;*/
}

input[readonly=readonly],
textarea[readonly=readonly] {
    padding-right: 0;
    background: white;
    color: gray;
}

input[disabled=disabled],
textarea[disabled=disabled] {
    color: gray;
}

a.logo-old-style-but-nicer {
    display: block;
    width: 98px;
    height: 2em;
    background-image: url(/img/tk-logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px 18px;
}

a.logo {
    display: block;
    width: auto;
    height: 1.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px 18px;
    text-decoration: none;
}

input[type=submit][disabled=disabled].processing {
    background-image: url(/img/loader.gif);
    background-position: center right;
    background-repeat: no-repeat;
    background-color: white;
    color: rgb(0, 128, 212);
    cursor: progress;
    border: 2px solid rgb(0, 128, 212);
}

.damagedaily.found input {
    font-weight: bold;
}

.little {
    font-size: small;
}

label.lottle {
    color: orange;
}

th {
    text-align: left;
}

th.number,
td.number,
td.label,
.number {
    text-align: right;
}

ul.action {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.action li {
    float: left;
}

ul.action li a {
    display: block;
    padding: 0.2em 0.5em;
}

ul.action li:first-child a {
    padding-left: 0;
}

ul.action li:last-child a {
    padding-right: 0;
}

.voucher-dealer,
.voucher-dealer-mail,
.voucher-internal {
    width: 24px;
    height: 26px;
}
.voucher-dealer {
    background-image: url(/img/glyphicons/glyphicons_135_inbox_out.png);
}
.voucher-dealer-mail {
    background-image: url(/img/glyphicons/glyphicons_062_paperclip.png);
}
.voucher-internal {
    background-image: url(/img/glyphicons/glyphicons_134_inbox_in.png);
}

.voucher-dealer.email,
.voucher-dealer-mail.mailed {
    opacity: 0.3;
}

@media print {
}